<div class="w-full min-h-screen bg-gray-100">
  <div class="flex w-full justify-center items-center">
    <div class="sider w-full relative hidden lg:block lg:w-2/4 xl:w-1/2">
      <div class="relative w-2/4">
        <h1 class="absolute text-3xl font-[900] text-white py-4 pl-4">
          StoreFront
        </h1>
      </div>
      <img
        src="../assets/groceries.png"
        alt="Delivery guy"
        class="h-[100vh] w-3/4"
      />

      <div class="relative w-[70%]">
        <p
          class="absolute right-0 font-light text-3xl text-right bottom-5 text-white"
        >
          Well created UI Designs
        </p>
      </div>
    </div>

    <div class="w-full md:w-3/4 lg:w-1/2 h-full">
      <form
        class="flex flex-col w-full justify-center items-center px-8 pt-6 pb-8 mb-4"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
      >
        <h2
          class="font-bold text-2xl lg:text-5xl text-center md:text-[#0267FF] mt-8 pb-4"
        >
          Sign up
        </h2>

        <p
          class="error-message text-red-500 py-1 font-semibold"
          *ngIf="showErrorMessage()"
        >
          {{ errorMessage }}
        </p>

        <div
          class="form-group w-full bg-white rounded-md px-4 pb-2 mb-5 mt-2"
          [class.error-border]="name && name.invalid && name.touched"
        >
          <label for="Name" class="text-[#AAAAAA] text-xs">Business Name</label>
          <input
            type="text"
            class="text-sm block w-full border-none outline-none border-gray-300"
            placeholder="write name here..."
            formControlName="name"
          />
        </div>

        <div
          class="form-group w-full bg-white rounded-md px-4 pb-2 mb-8"
          [class.error-border]="email && email.invalid && email.touched"
          [class.success-border]="email && email.valid && email.touched"
        >
          <label for="email" class="text-[#AAAAAA] text-xs">Email</label>
          <input
            type="email"
            class="text-sm block w-full border-none outline-none border-gray-300"
            placeholder="test1@gmail.com"
            formControlName="email"
          />
        </div>
        <div
          class="form-group w-full bg-white rounded-md px-4 pb-2 mb-8 relative"
          [class.error-border]="passwordsMismatch()"
          [class.success-border]="passwordsMatch()"
        >
          <label for="password" class="text-[#AAAAAA] text-xs">Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="text-sm block w-full border-none outline-none border-gray-300"
            placeholder="********"
            formControlName="password"
          />

          <img
            *ngIf="!showPassword"
            src="../assets/eye-open.png"
            alt="eye-open"
            class="w-5 h-4 absolute right-4 top-5 cursor-pointer"
            (click)="togglePasswordVisibility()"
          />

          <img
            *ngIf="showPassword"
            src="../assets/eye-slash.png"
            alt="eye-open"
            class="w-5 h-4 absolute right-4 top-5 cursor-pointer"
            (click)="togglePasswordVisibility()"
          />

          <div
            class="absolute right-0 w-1/2 border-gray-700 bg-red-300 rounded-md"
          >
            <small
              *ngIf="password && password?.errors?.['passwordStrength']"
              class="text-black text-xs flex items-end justify-end italic px-2 py-1"
            >
              Passwords must contain at least 8 characters, including UPPERCASE,
              lowercase letters, a number, and a special character (&#64;$%^&*).
            </small>
          </div>
        </div>
        <div
          class="form-group w-full bg-white rounded-md px-4 pb-2 relative"
          [class.error-border]="passwordsMismatch()"
          [class.success-border]="passwordsMatch()"
        >
          <label for="Name" class="text-[#AAAAAA] text-xs"
            >Confirm Password</label
          >
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="text-sm block w-full border-none outline-none border-gray-300"
            placeholder="********"
            formControlName="confirmPassword"
          />

          <img
            *ngIf="!showConfirmPassword"
            src="../assets/eye-open.png"
            alt="eye-open"
            class="w-5 h-4 absolute right-4 top-5 cursor-pointer"
            (click)="toggleConfirmPasswordVisibility()"
          />

          <img
            *ngIf="showConfirmPassword"
            src="../assets/eye-slash.png"
            alt="eye-open"
            class="w-5 h-4 absolute right-4 top-5 cursor-pointer"
            (click)="toggleConfirmPasswordVisibility()"
          />
        </div>

        <button
          class="bg-[#0267FF] disabled:cursor-not-allowed disabled:bg-blue-300 hover:bg-blue-600 px-20 py-2.5 text-white font-normal text-xs leading-tight rounded-md my-8"
          type="submit"
          [disabled]="registerForm.invalid || isLoading"
        >
          {{ isLoading ? "Loading..." : "Create Account" }}
        </button>

        <div class="text-center items-center">
          <p class="text-center font-normal">
            Already A Member?
            <a routerLink="/login" class="text-[#0267FF] cursor-pointer"
              >Log in</a
            >
          </p>
        </div>

        <div class="my-8">
          <p class="text-center font-normal">
            Create
            <a
              routerLink="/register"
              class="text-[#0267FF] cursor-pointer underline"
              >Individual Account</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
